<!doctype html>
<html>
   <head>
   <title>Calculator </title>
   </head>
   <body>
    <form method="POST"> 
  		<input type="text" name="numbers" value = "{{ calculation[0] }}" ><br>
		<button type="submit" value =1 name="calc">1</button>	
		<button type="submit" value =2 name="calc">2</button>
		<button type="submit" value =3 name="calc">3</button>	
		<button type="submit" value =C name="calc">C</button><br>
		<button type="submit" value =4 name="calc">4</button>	
		<button type="submit" value =5 name="calc">5</button>
		<button type="submit" value =6 name="calc">6</button>	
		<button type="submit" value =+ name="calc">+</button><br>
		<button type="submit" value =7 name="calc">7</button>	
		<button type="submit" value =8 name="calc">8</button>
		<button type="submit" value =9 name="calc">9</button>	
		<button type="submit" value =- name="calc">-</button><br>	
		<button type="submit" value =0 name="calc">0</button>	
		<button type="submit" value =* name="calc">*</button>
		<button type="submit" value =/ name="calc">/</button>	
		<button type="submit" value == name="calc">=</button><br>	
		<button type="submit" value =( name="calc">(</button>	
		<button type="submit" value =) name="calc">)</button>
		<button type="submit" value =sin name="calc">sin</button>	
		<button type="submit" value =tan name="calc">tan</button><br>
		<button type="submit" value =cos name="calc">cos</button>	
		<button type="submit" value =log name="calc">log</button>
		<button type="submit" value =sqrt name="calc">sqrt</button>	
		<button type="submit" value =CE name="calc">CE</button>			
	</form>
   </body>
 </html>
